.wrapper {
    display: inline-flex;
    min-width: 100px;
    align-items: center;
    text-align: center;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid transparent;
    user-select: none;


    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    color: #000000;
    margin-left: 8px;
}

.icon {
    color: #000000;
    display: inline-block;
    width: 24px;
    text-align: center;
}