.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 1160px;
}

.shop-banner {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #697077;
    margin-top: 30px;
}

.shop-banner-title {
    font-family: var(--font-banner);
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.36px;
}

.filter-inputs {
    height: 57px;
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid #697077;
}

.input-item {
    display: flex;
    border: 1px solid #000000;
    width: 282.5px;
    height: 44px;
    align-items: center;
    padding: 5px 10px;
}

.input-item + .input-item {
    margin-left: 10px;
}

.input-detail {
    font-size: 13px;
    line-height: 24px;
    font-family: var(--font-family);
    text-transform: uppercase;
}

.product-control {
    margin-top: 50px;
}

.sort-product-module {
    display: flex;
    align-items: center;
}

.sortby-text {
    font-family: var(--font-banner);
    font-weight: 700;
    font-size: 12px;
    color: #222329;
    text-transform: uppercase;
    margin-top: 8px;
}

.select-sort-kind {
    height: 34px;
    width: 210px;
    margin-left: 3px;
    border: 1px solid #eeeeee;
    color: #777777;
    text-transform: uppercase;
    padding: 0 25px 0 8px;
    font-size: 12.0718px;
    vertical-align: middle;
    font-weight: 700;
    font-family: var(--font-family);
    line-height: 17.2454px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.vinyl-product {
    margin-top: 20px;
    max-width: 20%;
    flex: 0 0 20%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 401.65px;
    cursor: pointer;
}

.vinyl-image {
    width: 100%;
    vertical-align: middle;
}

.vinyl-product-title {
    margin-top: 10px;
}

.vinyl-name {
    font-size: 16px;
    font-family: var(--font-family);
    color: #697077;
    text-transform: uppercase;
    text-overflow: ellipsis;
    line-height: 1.4;
}

.vinyl-author {
    font-size: 16px;
    font-family: var(--font-family);
    margin-top: 5px;
    font-weight: 600;
    color: #000000;
    line-height: 1.4;
}

.vinyl-price {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-banner);
    line-height: 22px;
    color: #222329;
    margin-top: 5px;
    white-space: nowrap;
}

.vinyl-stock-status {
    margin-top: 5px;
    font-family: var(--font-family);
}

.vinyl-onstock {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    color: #28a820;
    margin: 5px 5px 0 0;
    padding: 4px 8px 4px 8px;
    width: 68px;
    height: 26px;
    line-height: 160%;
    background: linear-gradient(0deg, rgba(40, 168, 32, 0.15), rgba(40, 168, 32, 0.15)), #ffffff;
    text-transform: uppercase;
}

.vinyl-outstock {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    color: #b4a30c;
    margin: 5px 5px 0 0;
    padding: 4px 8px 4px 8px;
    width: 68px;
    height: 26px;
    line-height: 160%;
    background: #fff9c4;
    text-transform: uppercase;
}

.vinyl-status {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 600;
    color: #697077;
    background-color: #f2f4f8;
    width: 25px;
    height: 27px;
    padding: 6px 8px 7px 8px;
    display: inline-block;
}

.footer {
    border-top: 1px solid #efefef;
    height: 82px;
    display: flex;
    width: 1160px;
    justify-content: right;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-size: 13px;
    gap: 5px;

    .active {
        background-color: #000000;
        color: #ffffff;
    }
}

.page-numbers {
    padding: 8px 15px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 17px;

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }
}

.prev-page-btn {
    border: 2px solid #000;
    height: 36px;
    line-height: 36px;
    width: 36px;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 16px;

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }
}

.next-page-btn {
    border: 2px solid #000;
    height: 36px;
    line-height: 36px;
    width: 36px;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 16px;

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }
}
