.nav-item {
    padding-right: 30px;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif !important;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        color: #f3e35b;
    }
}
