.wrapper {
    margin-top: 50px;
    width: 100%;
    height: 289px;
    background-color: #121619;
    color: #ffffff;
}

.container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
}

.logo-link {
    width: 100px;
    height: 60px;
}

.more-experience-text {
    font-size: 13px;
    font-family: var(--font-family);
    margin-top: 10px;
    text-transform: uppercase;
}

.heading {
    justify-content: space-between;
    display: flex;
}

.more-experience {
    width: 33.3333333%;
}

.infomation {
    width: 33.3333333%; 
    padding: 0 10px;
}

.help{
    padding: 0 10px;
    width: 33.3333333%;
}

.infomation-title {
    border-bottom: 1px solid #697077;
    padding-bottom: 10px;
    font-weight: 700;
    font-family: var(--font-banner);
    line-height: 1.4;
    text-transform: uppercase;
    font-size: 16px;
}

.infomation-links {
    display: flex;
    flex-wrap: wrap;
}

.link-item{
    margin-top: 10px;
    width: 50%;
    padding-top: 2px;
    line-height: 23.4px;
    font-size: 14px;
    font-family: var(--font-family);
    
}

.link-item-text{
    color: #eeeeee;
}

.help-title {
    border-bottom: 1px solid #697077;
    padding-bottom: 10px;
    font-weight: 700;
    font-family: var(--font-banner);
    line-height: 1.4;
    text-transform: uppercase;
    font-size: 16px;
}

.help-links {
    display: flex;
    flex-wrap: wrap;
}

.bottom{
    color: #cccccc;
    margin-top: 40px;
    font-family: var(--font-family);
    font-size: 14px;
}